.nav {
    background-color: lightblue;
    border-spacing: 20px;
    text-align: center;
    width: 1425px;
}

.nav th:hover {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

body {
    font-family: Monaco;
}

h1 {
    text-align: center;
}

.data, .data th, .data tr, td {
    border: 1px black solid;
}

.data th {
    background-color: lightgray;
}