.nav {
    background-color: lightblue;
    border-spacing: 20px;
    text-align: center;
    width: 1425px;
}

img {
    position: relative;
    bottom: 254px;
    width: 150px;
    height: auto;
    left: 150px;
}

.nav th:hover {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

body {
    font-family: Monaco;
}

.data, .data th, .data tr, td {
    border: 1px black solid;
}

.data th {
    background-color: lightgray;
}

.data {
    position: relative;
    top: 20px;
}

.active {
    background-color: green;
}

.idle {
    background-color: yellow;
}

.decommissioned {
    background-color: red;
}